@charset "EUC-KR";

@font-face {
   font-family: 'F1'; /* 폰트 패밀리 이름 주기*/
   src: url('/GroupWare/resources/fonts/aaa.ttf'); /*폰트 파일 주소*/
 }
 
@font-face {
   font-family: 'F2'; /* 폰트 패밀리 이름 주기*/
   src: url('/GroupWare/resources/fonts/bbb.ttf'); /*폰트 파일 주소*/
  }
  
@font-face {
   font-family: 'F3'; /* 폰트 패밀리 이름 주기*/
   src: url('/GroupWare/resources/fonts/ccc.ttf'); /*폰트 파일 주소*/
}

@font-face {
   font-family: 'F4'; /* 폰트 패밀리 이름 주기*/
   src: url('/GroupWare/resources/fonts/Binggrae-Regular.ttf'); /*폰트 파일 주소*/
}

body{
 font-family: 'F4';
}

label{	
 font-weight: bold;
}
 